<footer class="w-100 bg-primary mt-5">
  <div class="text-white d-flex justify-content-center align-items-center">
    <div class="py-4">Copyright &copy; 2022. All Rights reserved.</div>
  </div>
</footer>
